body{
    margin: 0;
}
.post-list{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-gap: 50px;
}
.post{
    cursor: pointer;
    
    display: block;

}
.post-image{
    margin:0;
}
.post-image img{
    width: 120%;
    vertical-align: top;
}